<nav class="navbar bg-dark">
    <div class="container">
        <h2>CRUD Application</h2>
    </div>
   <div class="d-flex">
    <button class="btn btn-success"data-bs-toggle="modal"data-bs-target="#exampleModal">Add Employee</button>
    </div>
   
</nav>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div style="background-color: rgb(11, 111, 101);"class="modal-header">
          <h5 style="color: white;"class="modal-title" id="exampleModalLabel">Add  Employee data</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="employeeForm">
                <div class="form-group mb-2">
                  <label for="exampleInputEmail1" class="form-label">Enter Name</label>
                  <input type="text" class="form-control"formControlName="name" placeholder="enter name">
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1" class="form-label"formControlName="email">Enter email</label>
                    <input type="email" class="form-control" placeholder="enter name">
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1" class="form-label"formControlName="city">Enter city</label>
                    <input type="text" class="form-control" placeholder="enter pincode">
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1" class="form-label"formControlName="pincode">Enter pincode</label>
                    <input type="text" class="form-control" placeholder="enter pincode">
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1" class="form-label"formControlName="phone">Enter phone number</label>
                    <input type="number" class="form-control" placeholder="enter phone number">
                </div>
                
               
              </form>
        </div>
        <div style="background-color: rgba(5, 40, 28, 0.663);"class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="addemployee(this.employeeForm.value)" [disabled]="this.employeeForm.invalid"type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">city</th>
            <th scope="col">Pincode</th>
            <th scope="col">phonenumber</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td><button class="btn btn-warning">Edit</button>&nbsp;
                <button class="btn btn-danger">Delete</button>

            </td>
            
          </tr>
   
        </tbody>
      </table>